<!DOCTYPE html>
<html>

<head>

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body,
        p,
        h1,
        h2,
        h3,
        tr,
        td {
            font-family: 'roboto';
        }
    </style>

</head>

<body style="background-color:#EEEEEE">
    <table style="padding:3em 0" border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="vertical-align:top;" width="100%">
        <tbody>
            <tr>
                <td align="center"
                    style="font-size:0px;padding:10px 25px 10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;margin: 30px 0;">

                    <img alt="MYV" src="{{images.logo}}"
                        style="border:none;display:block;outline:none;text-decoration:none;height:auto;font-size:13px;"
                        title="" width="200" height="auto">



                </td>
            </tr>
        </tbody>
    </table>



    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <div
                        style="text-align:center;width:50%;background-color:white;padding:20px 25px 20px 25px;word-break:break-word;border-radius:10px">
                        <img alt="Animeta mail" src="{{images.mailIcon}}"
                            style="border:none;outline:none;text-decoration:none;height:auto;font-size:13px;" title=""
                            width="100" height="auto">
                        <p style="text-align:center;font-weight: 700;">Dear <b>{{name}}</b></p>
                        <p style="text-align:center;font-weight: 400;">We're absolutely thrilled to welcome you aboard!
                        </p>
                        <p style="text-align:center;font-weight: 400;">Congratulations on signing up with MY views</p>
                        <p style="text-align:center;font-weight: 400;">OTP - {{OTP}}</p>
                    </div>


                </td>
            </tr>
        </tbody>
    </table>

  

    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;margin-top:30px"
        width="100%">
        <tbody>
            <tr>
                <td align="center" style="word-break:break-word;font-weight: 400;">
                    Copyright © 2023

                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
        <tbody>
            <tr>
                <td align="center"
                    style="padding:10px 25px 10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;font-weight: 700;">
                    Make Your Views
                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>